<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#데이터 입출력

##CSV 파일

In [ ]:
import pandas as pd
file_path = './sample.csv'
df1 = pd.read_csv(file_path)
df1

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [ ]:
print(df1.columns)    #csv 파일의 첫 행이 columns 가 되고 index는 default(0,1,2,...)를 가진다

Index(['c0', 'c1', 'c2', 'c3'], dtype='object')

In [ ]:
pd.read_csv(file_path,header=None)    #header

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [ ]:
pd.read_csv(file_path,header=0)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [ ]:
pd.read_csv(file_path,index_col=0)    #index_col

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [ ]:
pd.read_csv(file_path,index_col='c2')

    c0  c1  c3
c2
4    0   1   7
5    1   2   8
6    2   3   9

In [ ]:
pd.read_csv(file_path,names=['1열','2열','3열','4열','5열'])    #names

   1열  2열  3열  4열  5열
0  c0  c1  c2  c3 NaN
1   0   1   4   7 NaN
2   1   2   5   8 NaN
3   2   3   6   9 NaN

* 그 밖에 여러 옵션(함수)들이 있다

##Excel 파일

## JSON 파일

## HTML 파일

In [ ]:
pd.read_html('https://finance.naver.com/main/main.nhn')    #ValueError: No tables found 로 인한 막힘

ValueError: ignored

##웹 스크래핑

In [ ]:
from bs4 import BeautifulSoup
import requests
import re

#API 활용

* 구글 지오코딩 API 발급
* 구글맵 라이브러리 설치

In [ ]:
#코랩에서 지오코딩 사용하는 방법에서 막힘

ModuleNotFoundError: ignored

#데이터 저장

##CSV 파일

In [ ]:
data = {'name':['Jerry','Riah','Paul'],
        'algol':['A','A+','B'],
        'basic':['C','B','B+'],
        'c++:':['B+','C','C+'],
        }

df = pd.DataFrame(data)
df

    name algol basic c++:
0  Jerry     A     C   B+
1   Riah    A+     B    C
2   Paul     B    B+   C+

In [ ]:
df.set_index('name',inplace=True)
df

      algol basic c++:
name
Jerry     A     C   B+
Riah     A+     B    C
Paul      B    B+   C+

In [ ]:
df.to_csv('./df_sample_csv.csv')