<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/BJ/16637_%EA%B4%84%ED%98%B8_%EC%B6%94%EA%B0%80%ED%95%98%EA%B8%B0_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 괄호 추가하기

길이가 N인 수식이 있다. 수식은 0보다 크거나 같고, 9보다 작거나 같은 정수와 연산자(+, -, ×)로 이루어져 있다. 연산자 우선순위는 모두 동일하기 때문에, 수식을 계산할 때는 왼쪽에서부터 순서대로 계산해야 한다. 예를 들어, 3+8×7-9×2의 결과는 136이다.

수식에 괄호를 추가하면, 괄호 안에 들어있는 식은 먼저 계산해야 한다. 단, 괄호 안에는 연산자가 하나만 들어 있어야 한다. 예를 들어, 3+8×7-9×2에 괄호를 3+(8×7)-(9×2)와 같이 추가했으면, 식의 결과는 41이 된다. 하지만, 중첩된 괄호는 사용할 수 없다. 즉, 3+((8×7)-9)×2, 3+((8×7)-(9×2))은 모두 괄호 안에 괄호가 있기 때문에, 올바른 식이 아니다.

수식이 주어졌을 때, 괄호를 적절히 추가해 만들 수 있는 식의 결과의 최댓값을 구하는 프로그램을 작성하시오. 추가하는 괄호 개수의 제한은 없으며, 추가하지 않아도 된다.

## 입력 출력 및 예제

* 입력

첫째 줄에 수식의 길이 N(1 ≤ N ≤ 19)가 주어진다. 둘째 줄에는 수식이 주어진다. 수식에 포함된 정수는 모두 0보다 크거나 같고, 9보다 작거나 같다. 문자열은 정수로 시작하고, 연산자와 정수가 번갈아가면서 나온다. 연산자는 +, -, * 중 하나이다. 여기서 *는 곱하기 연산을 나타내는 × 연산이다. 항상 올바른 수식만 주어지기 때문에, N은 홀수이다.

* 출력

첫째 줄에 괄호를 적절히 추가해서 얻을 수 있는 결과의 최댓값을 출력한다. 정답은 2^31보다 작고, (-2)^31보다 크다.

* 입력 예제

9  
3 + 8 * 7 - 9 * 2

* 출력 예제

136

## 코드

In [ ]:
# 주어진 문자열을 순서대로 연산한 결과를 반환하는 코드
import re
from collections import deque
operator = ['+','-','*']
def calculator(expression):
    num = re.findall('\d*',expression)
    oper = re.findall('[^\d]',expression)
    numbers = deque()
    operators = deque()

    for i in num:
        if i!='':
            numbers.append(i)
    for i in oper:
        operators.append(i)

    result = int(numbers.popleft())

    while numbers:
        temp_num = int(numbers.popleft())
        temp_operator = operators.popleft()
        
        if temp_operator=='+':
            result += temp_num
            
        elif temp_operator=='-':
            result -= temp_num

        elif temp_operator=='*':
            result *= temp_num
    
    return result

In [ ]:
test_expression = '3+8*7-9*2'
calculator(test_expression)

136

In [ ]:
length = int(input())
exp = input()

3, 20, 4

10

## 메모