<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/BJ/1904_01%ED%83%80%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01타일

지원이에게 2진 수열을 가르쳐 주기 위해, 지원이 아버지는 그에게 타일들을 선물해주셨다. 그리고 이 각각의 타일들은 0 또는 1이 쓰여 있는 낱장의 타일들이다.

어느 날 짓궂은 동주가 지원이의 공부를 방해하기 위해 0이 쓰여진 낱장의 타일들을 붙여서 한 쌍으로 이루어진 00 타일들을 만들었다. 결국 현재 1 하나만으로 이루어진 타일 또는 0타일을 두 개 붙인 한 쌍의 00타일들만이 남게 되었다.

그러므로 지원이는 타일로 더 이상 크기가 N인 모든 2진 수열을 만들 수 없게 되었다. 예를 들어, N=1일 때 1만 만들 수 있고, N=2일 때는 00, 11을 만들 수 있다. (01, 10은 만들 수 없게 되었다.) 또한 N=4일 때는 0011, 0000, 1001, 1100, 1111 등 총 5개의 2진 수열을 만들 수 있다.

우리의 목표는 N이 주어졌을 때 지원이가 만들 수 있는 모든 가짓수를 세는 것이다. 단 타일들은 무한히 많은 것으로 가정하자.

## 입력 출력 및 예제

* 입력

첫 번째 줄에 자연수 N이 주어진다. (1 ≤ N ≤ 1,000,000)

* 출력

첫 번째 줄에 지원이가 만들 수 있는 길이가 N인 모든 2진 수열의 개수를 15746으로 나눈 나머지를 출력한다.

* 입력 예제

4

* 출력 예제

5

## 코드

In [ ]:
import math
def nCr(n,r):
    return int(math.factorial(n)/(math.factorial(r)*math.factorial(n-r)))

10

In [ ]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
# 시간 초과
# 팩토리얼이 있어서 그런듯..ㅠ
import math
def nCr(n,r):
    return int(math.factorial(n)/(math.factorial(r)*math.factorial(n-r)))

n = int(input())
result = 0
r = 1
for i in range(n-1,1,-1):
    result += nCr(i,r)
    r += 1
    if i<=r:
        break
print((result+1)%15746)

200
12907

In [ ]:
# Other
# 피보나치였네... 파스칼이랑 관련있는줄...
N = int(input())

if N < 3:
    dp = [0]*3
else:
    dp = [0]*(N+1)

dp[1] = 1
dp[2] = 2
n = 3
while n <= N:
    dp[n] = (dp[n-1] + dp[n-2]) % 15746
    n += 1

print(dp[N])

## 메모

순열?!