<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/BJ/1932_%EC%A0%95%EC%88%98_%EC%82%BC%EA%B0%81%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 정수 삼각형

맨 위층 7부터 시작해서 아래에 있는 수 중 하나를 선택하여 아래층으로 내려올 때,   
이제까지 선택된 수의 합이 최대가 되는 경로를 구하는 프로그램을 작성하라.  
 아래층에 있는 수는 현재 층에서 선택된 수의 대각선 왼쪽 또는 대각선 오른쪽에 있는 것 중에서만 선택할 수 있다.  

삼각형의 크기는 1 이상 500 이하이다. 삼각형을 이루고 있는 각 수는 모두   정수이며, 범위는 0 이상 9999 이하이다.

## 입력 출력 및 예제

* 입력

첫째 줄에 삼각형의 크기 n(1 ≤ n ≤ 500)이 주어지고, 둘째 줄부터 n+1번째 줄까지 정수 삼각형이 주어진다.

* 출력

첫째 줄에 합이 최대가 되는 경로에 있는 수의 합을 출력한다.

* 입력 예제

5  
7  
3 8  
8 1 0  
2 7 4 4  
4 5 2 6 5

* 출력 예제

30

## 코드

In [ ]:
n = int(input())
array = [[0]]
for i in range(n):
    array.append(list(map(int,input().split())))

for i in range(1,n+1):
    for j in range(i):
        if j==0:
            array[i][0] = array[i-1][0] + array[i][0]
        elif j==i-1:
            array[i][j] = array[i-1][j-1] + array[i][j]
        else:
            array[i][j] = max(array[i-1][j-1] + array[i][j], array[i-1][j] + array[i][j])
result = 0
for i in array[n]:
    result = max(result,i)

print(result)

3
1
1 2
1 2 3
6

## 메모