<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/BJ/2581_%EC%86%8C%EC%88%98(%EB%AC%B6%EC%9D%8C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 소수

소수 관련 간단한 여러 문제들

자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

## 입력 출력 및 예제

* 입력

입력의 첫째 줄에 M이, 둘째 줄에 N이 주어진다.

M과 N은 10,000이하의 자연수이며, M은 N보다 작거나 같다.

* 출력

M이상 N이하의 자연수 중 소수인 것을 모두 찾아 첫째 줄에 그 합을, 둘째 줄에 그 중 최솟값을 출력한다.

단, M이상 N이하의 자연수 중 소수가 없을 경우는 첫째 줄에 -1을 출력한다.

* 예제

![image.png]()

## 구상

-

## 코드

In [7]:
# 1978
import math
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):  # √n까지만 검사
        if n % i == 0:
            return False
    return True

N = int(input())
result = 0
arr = list(map(int, input().split()))
for i in arr:
    if is_prime(i):
        result += 1

print(result)

4
1 3 5 7
3

In [12]:
# 2581

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):  # √n까지만 검사
        if n % i == 0:
            return False
    return True

M = int(input())
N = int(input())
min = 0
sum = 0
for i in range(M,N+1):
    if is_prime(i):
        if min == 0:
            min = i
            sum += i
        else:
            sum += i

if min == 0:
    print(-1)

else:
    print(sum)
    print(min)

64
65
-1

1 2 3
1 2 3

## 메모

* 소수 판별을 for 문을 이용해서 할 경우 제곱근까지만 돌아봐도 된다