<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/BJ/2606_%EB%B0%94%EC%9D%B4%EB%9F%AC%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 바이러스

신종 바이러스인 웜 바이러스는 네트워크를 통해 전파된다. 한 컴퓨터가 웜 바이러스에 걸리면 그 컴퓨터와 네트워크 상에서 연결되어 있는 모든 컴퓨터는 웜 바이러스에 걸리게 된다.

예를 들어 7대의 컴퓨터가 <그림 1>과 같이 네트워크 상에서 연결되어 있다고 하자. 1번 컴퓨터가 웜 바이러스에 걸리면 웜 바이러스는 2번과 5번 컴퓨터를 거쳐 3번과 6번 컴퓨터까지 전파되어 2, 3, 5, 6 네 대의 컴퓨터는 웜 바이러스에 걸리게 된다. 하지만 4번과 7번 컴퓨터는 1번 컴퓨터와 네트워크상에서 연결되어 있지 않기 때문에 영향을 받지 않는다.

![image.png]()

어느 날 1번 컴퓨터가 웜 바이러스에 걸렸다. 컴퓨터의 수와 네트워크 상에서 서로 연결되어 있는 정보가 주어질 때, 1번 컴퓨터를 통해 웜 바이러스에 걸리게 되는 컴퓨터의 수를 출력하는 프로그램을 작성하시오.

## 입력 출력 및 예제

* 입력

첫째 줄에는 컴퓨터의 수가 주어진다. 컴퓨터의 수는 100 이하이고 각 컴퓨터에는 1번 부터 차례대로 번호가 매겨진다. 둘째 줄에는 네트워크 상에서 직접 연결되어 있는 컴퓨터 쌍의 수가 주어진다. 이어서 그 수만큼 한 줄에 한 쌍씩 네트워크 상에서 직접 연결되어 있는 컴퓨터의 번호 쌍이 주어진다.

* 출력

1번 컴퓨터가 웜 바이러스에 걸렸을 때, 1번 컴퓨터를 통해 웜 바이러스에 걸리게 되는 컴퓨터의 수를 첫째 줄에 출력한다.

* 입력 예제

7  
6  
1 2  
2 3  
1 5  
5 2  
5 6  
4 7

* 출력 예제

4

## 코드

In [ ]:
n = int(input()) # 컴퓨터 수
p = int(input()) # 컴퓨터 쌍의 수
connect = []
for i in range(p): # 컴퓨터 쌍 입력
    x , y =map(int,input().split())
    connect.append([x,y])
graph = [] # 연결 상태를 파악하기 위한 그래프
for i in range(n+1):
    graph.append([]) # 1번~n번 까지 컴퓨터 연결상태 위해 빈 리스트 추가(0번은 비워둘것임)

for i in connect:
    graph[i[1]].append(i[0]) # 연결정보를 토대로 graph 그리기
    graph[i[0]].append(i[1])

# 각 노드가 방문된 정보를 표현 (1차원 리스트)
visited = [False] * (n+1) # *** n 으로 했으나 백준에서 통과 못하였음! 아직 그 원인을 모르겠음!
def dfs(graph, v, visited):
    # 현재 노드를 방문 처리
    visited[v] = True
    #print(v, end=' ') # 줄 바꿈 없이 공백 처리
    # 현재 노드와 연결된 다른 노드를 재귀적으로 방문
    for i in graph[v]: # i 는 v 번 노드와 연결되어 있는 노드, 즉 graph[v] 는 v 노드와 연결된 노드 리스트를 뜻함
        if not visited[i]: # i 노드가 방문된 적 없으면
            dfs(graph, i, visited) # i 에 대해 dfs 재귀 처리
dfs(graph,1,visited)
count = 0
for i in visited:    
    if i:
        count += 1
print(count - 1)

7
6
1 2
2 3
1 5
5 2
5 6
4 7
4

In [ ]:
def dfs(graph, v, visited):
    # 현재 노드를 방문 처리
    visited[v] = True
    #print(v, end=' ') # 줄 바꿈 없이 공백 처리
    # 현재 노드와 연결된 다른 노드를 재귀적으로 방문
    for i in graph[v]: # i 는 v 번 노드와 연결되어 있는 노드, 즉 graph[v] 는 v 노드와 연결된 노드 리스트를 뜻함
        if not visited[i]: # i 노드가 방문된 적 없으면
            dfs(graph, i, visited) # i 에 대해 dfs 재귀 처리

In [ ]:
dfs(graph,1,visited)

1

1

In [ ]:
count = 0
for i in visited:    
    if i:
        count += 1

In [ ]:
print(count - 1)

4