<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/BJ/7562_%EB%82%98%EC%9D%B4%ED%8A%B8%EC%9D%98_%EC%9D%B4%EB%8F%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 나이트의 이동

체스판 위에 한 나이트가 놓여져 있다. 나이트가 한 번에 이동할 수 있는 칸은 아래 그림에 나와있다. 나이트가 이동하려고 하는 칸이 주어진다. 나이트는 몇 번 움직이면 이 칸으로 이동할 수 있을까?
![image.png]()

## 입력 출력 및 예제

* 입력

입력의 첫째 줄에는 테스트 케이스의 개수가 주어진다.

각 테스트 케이스는 세 줄로 이루어져 있다. 첫째 줄에는 체스판의 한 변의 길이 l(4 ≤ l ≤ 300)이 주어진다. 체스판의 크기는 l × l이다. 체스판의 각 칸은 두 수의 쌍 {0, ..., l-1} × {0, ..., l-1}로 나타낼 수 있다. 둘째 줄과 셋째 줄에는 나이트가 현재 있는 칸, 나이트가 이동하려고 하는 칸이 주어진다.

* 출력

각 테스트 케이스마다 나이트가 최소 몇 번만에 이동할 수 있는지 출력한다.

* 입력 예제

3  
8  
0 0  
7 0  
100  
0 0  
30 50  
10  
1 1  
1 1

* 출력 예제

5  
28  
0

## 코드

In [ ]:
a = list(map(int,input().split()))
a

1 2 3

[1, 2, 3]

In [ ]:
test = []
test.append(a)
test

[[1, 2, 3]]

In [ ]:
set_num = int(input())
graph = []
size = []
start = []
goal = []
for i in range(set_num):
    n = int(input())
    size.append(n)
    graph.append([[0 for j in range(n)] for i in range(n)])
    start.append(list(map(int,input().split()))) # 원소가 int 인 리스트는 어떻게 해야할까? map 이란 변수를 사용해서 문제였음...변수명, 함수 같이쓰지말자!!!
    goal.append(list(map(int,input().split())))

3
8
0 0
7 0
100
0 0
30 50
10
1 1
1 1

In [ ]:
from collections import deque
move = [(-2,-1),(-1,-2),(1,-2),(2,-1),(2,1),(1,2),(-1,2),(-2,1)]
def bfs(graph,size,start,goal): # start = [ , ], goal = [ , ]
    if start==goal:
            return 0
    queue = deque()
    queue.append(start)
    while queue:
        x=queue.popleft()
        if x==goal:
            return graph[goal[0]][goal[1]]
        for i in move:
            nx = x[0] + i[0]
            ny = x[1] + i[1]
            if nx < 0 or nx > size-1 or ny < 0 or ny > size-1:
                continue
            if graph[nx][ny]==0:
                graph[nx][ny] = graph[x[0]][x[1]]+1
                queue.append([nx,ny])
    return graph[goal[0]][goal[1]]

for i in range(set_num):
    print(bfs(graph[i],size[i],start[i],goal[i]))

5
28
0

## 메모