<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/BJ/GravytyBox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## max()을 사용하지 않고 max() 구현하기(for 문 사용)

In [ ]:
data=[10, 7, 2, 4, 6]
max_v = 0
for i in data:
    if max_v<i:
        max_v = i




print(max_v)

10

## min()을 사용하지 않고 min() 구현하기(for 문 사용)

In [ ]:
data=[2, 7, 1, 2, 4, 6]
min_v = 100
for i in data:
    if min_v>i:
        min_v = i



print(min_v)

1

## sum()을 사용하지 않고 sum()  구현하기(for 문 사용)

In [ ]:
data=[2, 7, 2, 4, 6]
sum_v = 0
for i in data:
    sum_v+= i


print(sum_v)

21

## 평균값 구현하기(for 문 사용)

In [ ]:
data=[2, 7, 2, 4, 6]

sum_v = 0
for i in data:
    sum_v+= i
mean_v = sum_v/len(data)



print(mean_v)

4.2

여기까지 2분 정도 풀 수 있으면 좋다.

## dictionary 구축하기 (for, if)
다음과 같은 리스트가 있을 때 각각의 요소의 개수를 value 값으로 갖는 딕셔너리를 만드세요.

book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']


예시 출력)<br>
{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

##### 위의 문제를 아래의 3가지 방법으로 딕셔너리를 각각 만들어 봅시다.
- for와 if만 사용
- count()를 사용
- get() 사용

In [ ]:
# for , if 만 사용
book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']
dict_book = {}
for i in book_title:
    if i not in dict_book:
        dict_book[i]=0
    dict_book[i]+=1
    
    


print(dict_book)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [ ]:
# for문과 count 만 사용
book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']
dict_book2 = {}
for i in book_title:
    dict_book2[i]=book_title.count(i)


print(dict_book2)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [ ]:
# for문과 get()을 사용
book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']
dict_book3 = {}
for i in book_title:
    dict_book3[i]=dict_book3.get(i,0) + 1


print(dict_book3)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

## 조건문과 반복문, break를 활용하여 다음 headlines 리스트의 요소들을 130자 크기의 하나의 문자열로 이어 붙이는 코드를 작성하세요.
```
headlines = [
  "Local Bear Eaten by Man",
  "Legislature Announces New Laws",
  "Peasant Discovers Violence Inherent in System",
  "Cat Rescues Fireman Stuck in Tree",
  "Brave Knight Runs Away",
  "Papperbok Review: Totally Triffic"
]
```

In [ ]:
test = ['a','b','c']
''.join(test)

'abc'

In [ ]:
'''
각각의 문자열을 붙인다. 그리고 130개로 붙이면 된다.
'''

headlines = [
  "Local Bear Eaten by Man",
  "Legislature Announces New Laws",
  "Peasant Discovers Violence Inherent in System",
  "Cat Rescues Fireman Stuck in Tree",
  "Brave Knight Runs Away",
  "Papperbok Review: Totally Triffic"
]
result = ' '.join(headlines)



print(result)
print(len(result))

Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave Knight Runs Away Papperbok Review: Totally Triffic
191

## 가로세로 높이가 같은 상자들이 쌓여있는 방이 있다. 방이 오른쪽으로 90도 회전하여 상자들이 중력의 영향을 받아 낙하한다고 할 때, 낙차가 가장 큰 상자를 구하여 낙차를 리턴하자.
- 중력은 회전이 완료된 후에 적용된다.
- 상자들은 모두 한쪽 변면에 붙여진 상태로 쌓여 2차원의 형태를 이루며 벽에서 떨어져서 쌓인 상자는 없다.(일직선으로 떨어진다.)
- 방의 가로길이와 세로길이는 9이다.
- 상자의 길이는 사로세로 1이다
- 입력값의 인덱스가 상자가 쌓여진 높이이다.
- 입력값 : [7, 4, 2, 0, 0, 6, 0, 7, 0]
- 출력값 : 7

In [ ]:
for i in range(5):
    for j in range(3):
        print(i)
        i += 1

0
1
2
1
2
3
2
3
4
3
4
5
4
5
6

In [ ]:
room = [[0 for x in range(9)] for y in range(9)]
array = list(map(int,input().split()))
floor = 0
count = 0
for i in array:    
    for j in range(i):
        room[count][j] = 1
    count +=1

result = []

for i in range(9):
    for j in range(9):
        if room[j][i]==1:
            value = 0
            while j<8:
                j+=1
                if room[j][i]==0:
                    value+=1
            result.append(value)
            break

max(result)

7 4 2 0 0 6 0 7 0

7

In [ ]:
room

[[1, 1, 1, 1, 1, 1, 1, 0, 0],
 [1, 1, 1, 1, 0, 0, 0, 0, 0],
 [1, 1, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0]]