<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/BJ/%EC%A0%95%EB%A0%AC%2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 정렬 관련 알고리즘 문제들

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

## 입력 출력 및 예제

* 입력

첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 절댓값이 1,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

* 출력

첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

* 예제

![image.png]()

## 구상

-

## 코드

In [ ]:
# 2750
n = int(input())
arr = []
for i in range(n):
    arr.append(int(input()))
arr.sort()

for i in arr:
    print(i)

5
5
2
3
4
1
1
2
3
4
5

In [ ]:
# 2751(2750 상위)
import sys

n = int(sys.stdin.readline())
arr = [int(sys.stdin.readline()) for _ in range(n)]
arr.sort()

sys.stdout.write("\n".join(map(str, arr)) + "\n")  # 한 번에 출력

In [ ]:
# 10989
import sys
N = int(sys.stdin.readline().rstrip())
cnt_dic = {}
for _ in range(N):
    X =int(sys.stdin.readline().rstrip())
    if X in cnt_dic: #X가 dic의 키에 없다면
        cnt_dic[X] += 1
    else:
        cnt_dic[X] = 1
for i in range(max(cnt_dic.keys())+1):
    if i not in cnt_dic:
        continue
    else:
        for _ in range(cnt_dic[i]):
            print(i)

In [ ]:
# 2587
arr = []
for _ in range(5):
    arr.append(int(input()))
arr.sort()

print(sum(arr)//5)
print(arr[2])

10
40
30
60
30
34.0
30

In [ ]:
# 25305
N, k = map(int,input().split())
scores = list(map(int,input().split()))
scores.sort(reverse=True)
print(scores[k-1])

5 2
100 76 85 93 98
98

In [4]:
# 1427
N = input()
arr = []
for i in N:
    arr.append(i)

arr.sort(reverse=True)
for i in arr:
    print(i,end='')

2143
4321

In [7]:
# 11650
N = int(input())
arr = []
for _ in range(N):
    arr.append(list(map(int,input().split())))

arr.sort(key= lambda x: (x[0],x[1]))
for i, j in arr:
    print(i,j)

# 11651

N = int(input())
arr = []
for _ in range(N):
    arr.append(list(map(int,input().split())))

arr.sort(key= lambda x: (x[1],x[0]))
for i, j in arr:
    print(i,j)

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

## 메모

* 세련된 코드는 아니지만 나름 최적화를 해보았다
* 때론 단순한 방법이 문제해결에 더 효과적일 수 있다. 컴퓨터의 연산력을 믿자.