<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Greedy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## {문제 이름}
> 문제 조건 1   
> 문제 조건 2

* 해결 아이디어 1
* 해결 아이디어 2

### 내 풀이

In [ ]:
# 풀이

### 모범 답안 및 배울 점

In [ ]:
# 풀이

* 보완 할 점 1
* 보완 할 점 2

## {1. 거스름돈}
> 500, 100, 50, 10원짜리 동전이 무한히 존재한다고 가정  
> 손님에게 거슬러 주어야 할 돈이 N원일 때 거슬러 주어야 할 동전의 최소 개수를 구하라 (거스름돈은 10의 배수임)

* 가장 큰 화폐 단위부터 돈을 거슬러준다

### 모범 답안 및 배울 점

In [ ]:
# 거스름 돈
n = 1260
count = 0

array = [500, 100, 50, 10] # 단위

for coin in array:
    count += n // coin
    n = n%coin
print(count)

6

* 화폐의 종류가 K일 때, 소스코드의 시간 복잡도는 O(K)
* 거스름 돈의 크기와는 무관하고 화폐의 종류의 수에 영향을 받는다

##{2. 1이 될 때 까지}
>어떤 수 N이 1이 될 때 까지 다음 두 과정 중 하나를 반복적으로 선택하여 수행한다
1. N에서 1을 뺍니다
2. N을 K로 나눕니다(나누어 떨어질 때만 가능)
- N, K가 주어질 때 N이 1이 될 때 까지 1번 혹은 2번 과정을 수행해야하는 최소 횟수를 구하라

* map(변환 함수, 순회 가능한 데이터)

### 모범 답안 및 배울 점

In [ ]:
n, k = map(int,input().split())

result = 0

while True:
    target = (n//k) * k # k|n 아니더라도 n에 가장 근접한 k의 배수를 구할 수 있음
    result = result + (n-target) # 나누어 떨어지기 전까지 1.과정을 (n-target)번 해주어야 하므로
    n = target
    if n < k:
        break
    result = result + 1 # 2번 과정으로 인한 +1
    n = n//k

result = result + (n-1) # n 이 더 작아졌을 경우 1.과정을 통해 n = 1을 만들어줘야하므로
print(result)

5153 153
137

## {3. 곱하기 혹은 더하기}
> 각 자리가 숫자(0~9)로 이루어진 문자열 S가 주어진다   
> 모든 연산은 왼쪽에서부터 순서대로 이루어 질 때 만들어 질 수 있는 가장 큰 수를 구하라

* 0,1 을 제외한 경우 곱하기를 취해야한다
* 해결 아이디어 2

### 내 풀이

In [ ]:
# 풀이

### 모범 답안 및 배울 점

In [ ]:
# 풀이
data = input()

result = int(data[0])

for i in range(1,len(data)):
    num = int(data[i])
    if num<= 1 or result <= 1:
        result = result + num
    else:
        result = result * num
print(result)

1122112001
21

* 보완 할 점 1
* 보완 할 점 2

## {4. 모험가 길드}
> 모함가의 수 N이 주어진다
> 각 모험가의 공포도의 값이 N 이하의 자연수로 주어진다
> 공포도가 X인 모험가는 반드시 X명 이상으로 구성한 그룹에 속해야한다  
> 모든 모험가가 여행을 떠날 필요는 없다  
> 여행을 떠날 수 있는 그룹 수의 최대값을 구하라

* 공포도 값에 대한 오름차순으로 정렬한다 
* 앞에서부터 확인하여 그룹의 조건이 만족하면 바로 그룹으로 설정하며 넘어간다

### 내 풀이

In [ ]:
# 풀이

### 모범 답안 및 배울 점

In [ ]:
# 풀이
n = int(input())
data = list(map(int,input().split())) # 공백을 기준으로 모함가 별 공포도를 입력받아 정수로 변환 후 리스트에 담는다
data.sort() # 오름차순 정렬

result = 0 # 총 그룹의 수
count = 0 # 현재 그룹에 포함된 모험가의 수
for i in data:
    count += 1 # 현재 그룹에 해당 모험가(공포도 i) 포함시키기
    if count >= i: # 현재 그룹에 포함된 모험가의 수가 현재의 공포도 이상이라면
        result += 1 # 그룹 결성
        count = 0 # 그룹에 모함된 모험가의 수 초기화

print(result)

10
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
16

* 공포도에 따라 오름차순 되어있으므로 그룹 내에서 가장 늦게 합류한 모험가의 공포도만 그룹 내의 인원수와 비교해주면 된다

## {5. 상하좌우}
> N X N 크기의 정사각형 공간에서 여행가 A는 상,하,좌,우 1씩 이동할 수 있다  
> 여행가 A에게 계획서(U,D,L,R로 이루어진)대로 움직인 후의 좌표를 공백을 기준으로 구분하여 출력하라  
> 시작지점은 (1,1) 이고 정사각형의 공간에서 벗어나는 움직임은 무시된다

* 상,하,좌,우 움직이에 따른 벡터값을 설정하고 계획서에 맞게 더해나간다  
* 현재 위치를 확인하여 정사각형 공간에서 벗어나는 행동에 유의한다

### 내 풀이

In [ ]:
# 풀이
N = int(input())
x_loc , y_loc = 1,1
plan = list(input().split())
for i in plan:
    if i=='U':
        y_loc += -1
    if i=='D':
        y_loc += 1
    if i=='L':
        x_loc += -1
    if i=='R':
        x_loc += 1
    if x_loc > N:
        x_loc = N
    if x_loc < 1:
        x_loc = 1
    if y_loc > N:
        y_loc = N
    if y_loc < 1:
        y_loc = 1

print(x_loc, y_loc)

52
R D U W R
3 1

### 모범 답안 및 배울 점

In [ ]:
# 풀이
n = int(input())
x, y = 1, 1
plans = input().split()
print(type(plans))
dx = [0, 0, -1, 1]
dy = [-1, 1, 0, 0]
move_types = ['L','R','U','D']

for plan in plans:
    for i in range(len(move_types)):
        if plan==move_types[i]:
            nx = x + dx[i]
            ny = y + dy[i]
    if nx < 1 or ny <1 or nx > n or ny > n:
        continue
    x, y = nx, ny

print(x,y)

* input().split() 을 하면 자동으로 리스트 반환
* 움직임을 훨씬 깔끔하게 표현함
* 제약조건에 걸리면 continue 로 넘어가고 아니라면 마지막에 현재 위치를 저장하는 것이 깔끔함

## {6. 시각}
> 00시 00분 00초부터 N시 59분 59초 까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하라 (0<=N<=23)

* 00시 00분 00초 부터 N시 59분 59초 까지 모든 경우를 탐색하며 조건에 부합할 시 count를 증가 시킨다

### 내 풀이

In [ ]:
# 풀이

### 모범 답안 및 배울 점

In [ ]:
# 풀이
N = int(input())
count = 0
for i in range(N+1): # 시
    for j in range(60): # 분
        for k in range(60): # 초
            if '3' in str(i)+str(j)+str(k):
                count += 1
print(count)

2
4725

* 파이썬에서 if 와 문자열의 자유로운 활용

## {7. 왕실의 나이트}
> 8 X 8 체스판에서 나이트의 위치가 주어졌을 때 나이트가 움직일 수 있는 경수의 수를 구하라  
> 행 위치를 표현할 때는 1\~8, 열 위치를 표현할 때는 a~h로 표현

* 5. 의 모범 답안을 참고하여 작성

### 내 풀이

In [ ]:
# 풀이
x_loc, y_loc = map(ord,input().split()) # y는 a~h 입력
x_loc, y_loc = x_loc-ord('0'),y_loc-ord('`')

count = 0

dx = [1, 2, 2, 1, -1 ,-2 ,-2 ,-1]
dy = [2, 1, -1, -2,-2 ,-1 ,1 ,2]
# E, W, N, S
move_types = ['NE','EN','ES','SE','SW','WS','WN','NW']
for i in range(len(move_types)):
    x_loc += dx[i]
    y_loc += dy[i]
    if x_loc > 0 and x_loc < 9 and y_loc > 0 and y_loc <9:
        count += 1
    x_loc -= dx[i]
    y_loc -= dy[i]

print(count) 
print(x_loc,y_loc)

2 c
6
2 3

### 모범 답안 및 배울 점

In [ ]:
# 풀이
input_data = input()
row = int(input_data[1])
column = int(ord(input_data[0])) - int(ord('a')) + 1

steps = [(-2,-1),(-1,-2),(1,-2),(2,-1),(2,1),(1,2),(-1,2),(-2,1)]

result = 0
for step in steps:
    next_row = row + step[0]
    next_column = column + step[1]
    if next_row >= 1 and next_row <= 8 and next_column>=1 and next_column<=8:
        result += 1
print(result)

a1
2

* 입력 조건을 제대로 보고 이행할 것
* move_types 을 따로 두는건 무의미 했음
* next_row 처럼 변수를 따로 두어 x_loc 를 초기화 시킬 필요 없도록하는게 좋았음

## {8. 문자열 재정렬}
> 알파벳 대문자와 숫자(0~9)로 구성된 문자열이 입력으로 주어진다  
> 모든 알파벳을 오름차순으로 정렬하여 이어서 출력하고 그 뒤에 모든 숫자를 더한 값을 이어서 출력하라  
> 예) 입력 : K!KA5CB7 > ABCKK13

* 입력받은 문자열을 각각 알파벳, 숫자로 이루어진 문자열로 나눈다
* 알파벳 대문자, 숫자의 아스키코드 파악

### 내 풀이

In [ ]:
print(ord('A'),ord('Z'),ord('0'),ord('9'))

65 90 48 57

In [ ]:
# 풀이
input_data = input()
alp_data = []
num_data = []
sum = 0
for i in input_data:
    if ord(i)<=90 and ord(i)>=65:
        alp_data.append(i)
    if ord(i)<=57 and ord(i)>=48:
        num_data.append(i)
for j in num_data:
    sum += int(j)
alp_data.sort()

print(''.join(alp_data)+str(sum))

K1KA5CB7
ABCKK13

### 모범 답안 및 배울 점

In [ ]:
# 풀이
data = input()
result = []
value = 0

for x in data:
    if x.isalpha():
        result.append(x)
    else:
        value += int(x)
result.sort()

if value != 0:
    result.append(str(value))

print(''.join(result))

K1KA5CB7
ABCKK13

* 적절한 함수 활용
* 보완 할 점 2