<a href="https://colab.research.google.com/github/hdpark1208/StudyCode/blob/main/Algorithm/Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sorting

## 선택 정렬

In [ ]:
array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]
for i in range(len(array)):
    min_index = i
    for j in range(i+1,len(array)):
        if array[min_index]>array[j]:
            min_index = j
    array[i],array[min_index] = array[min_index],array[i]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* 처리되지 않은 데이터 중에서 가장 작은 데이터를 선택해 맨 앞에 있는 데이터와 바꾸는 것을 반복

## 삽입 정렬

In [ ]:
array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]
for i in range(1,len(array)): 
    for j in range(i,0,-1): # 처리된 데이터들을 돌며
        if array[j] < array[j-1]: # 적절한 위치에 삽입
            array[j],array[j-1] = array[j-1],array[j]
        else: # 자기보다 작은 데이터를 만나면 그 위치에서 멈춤 (오름차순으로 정렬되고있기때문)
            break

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* 처리되지 않은 데이터를 하나씩 골라 적절한 위치에 삽입

## 퀵 정렬

In [ ]:
array = [5, 7, 9, 0, 3, 1, 6, 2, 4, 8]

def quick_sort(array):
    # 리스트가 하나 이하의 원소만 담고 있으면 종료
    if len(array) <= 1:
        return array
    pivot = array[0]
    tail = array[1:] # 피벗을 제외한 리스트

    left_side = [x for x in tail if x<= pivot]
    right_side = [x for x in tail if x> pivot]

    return quick_sort(left_side)+[pivot]+quick_sort(right_side)
quick_sort(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* 기준 데이터(pivot)를 설정하고 그 기준보다 큰, 작은 데이터의 위치를 바꾸는 방법  
* 병합 정렬과 더불어 대부분 언어의 정렬 라이브러리의 근간이 되는 알고리즘

## 계수 정렬

In [ ]:
array = [5, 7, 9, 0, 3, 1, 6, 2, 4, 8, 9, 2, 5, 1, 5, 7, 0, 2, 9, 5,]
count = [0]*(max(array)+1)

for i in range(len(array)):
    count[array[i]] += 1

for i in range(len(count)):
    for j in range(count[i]): # count[i] : i 의 등장 횟수
        print(i, end='/')

0/0/1/1/2/2/2/3/4/5/5/5/5/6/7/7/8/9/9/9/

* 데이터의 크기 범위가 제한되어 정수 형태로 표현할 수 있을 때 사용가능

# 선택 정렬과 기본 정렬 라이브러리 수행 시간 비교

In [ ]:
from random import randint
import time

array = []
for _ in range(10000):
    array.append(randint(1,100))

start_time = time.time()

for i in range(len(array)):
    min_index = i
    for j in range(i+1,len(array)):
        if array[min_index]>array[j]:
            min_index = j
    array[i],array[min_index] = array[min_index],array[i]

end_time = time.time()
print('선택 정렬 성능 측정 : ',end_time - start_time)

선택 정렬 성능 측정 :  8.677853345870972

In [ ]:
array = []
for _ in range(10000):
    array.append(randint(1,100))

start_time = time.time()

array.sort()

end_time = time.time()
print('기본 정렬 라이브러리 성능 측정 : ',end_time - start_time)

기본 정렬 라이브러리 성능 측정 :  0.0012121200561523438

* 예제) 두 배열의 원소 교체

In [ ]:
n, k = map(int,input().split())
a = list(map(int,input().split()))
b = list(map(int,input().split()))

a.sort()
b.sort(reverse=True)

for i in range(k):
    if a[i] <b[i]:
        a[i],b[i] = b[i],a[i]
    else:
        break
print(a)
print(b)

5 3
7 3 5
5 9 0
[9, 5, 7]
[3, 5, 0]

<문제> : 개미 전사  

입력 조건 :  
첫째 줄에 식량창고의 개수 N이 주어집니다  
둘째 줄에 공백을 기준으로 각 식량창고에 저장된 식량 개수 K가 주어집니다  

출력 조건 :  
첫째 줄에 개미 전사가 얻을 수 있는 식량의 최대값을 출력하세요  

입력 예시 :  
4  
1 3 1 5  

출력 예시 :  
8

In [ ]:
n = int(input())
array = list(map(int,input().split()))

d = [0]*100

d[0] = array[0]
d[1] = max(array[0],array[1])
for i in range(2,n):
    d[i] = max(d[i-1],d[i-2]+array[i])

print(d[n-1])

5
1 5 10 2 1
12